fieldset {
    margin-left:  1em;
    margin-right: 1em;
    margin-top:   1em;
}
div.links {
    margin-left:  1em;
    margin-right: 1em;
    margin-top:   1em;
}

input[type=file] {
    display:none;
}
input[type=text] {
    height:inherit;
}
input[type=password] {
    height:inherit;
}

#upload-span {
    width:259px;
}

#add-span {
    245px;
}