html {
    background-color: #333;
}

label {
    font-weight: bold !important;
}

legend {
    font-weight: bold !important;
}

@media only screen and (min-width: 800px) {
    .ui-page {
        width: 800px !important;
        margin: 0 auto !important;
        position: relative !important;

    }
    form {
        background: none !important;
    }
}

.ui-field-contain, .ui-controlgroup-vertical, .ui-select .ui-btn, textarea {
    margin: 0 0 2.2em 0 !important;
}

.ui-controlgroup-label {
    font-weight: bold;
}

.ui-field-contain .ui-controlgroup-label {
    display: block;
    float: left;
    width: 5em !important;
    padding-top: 6px;
}

.ui-header .ui-title, .ui-footer .ui-title {
    margin-left:  0;
    margin-right: 0;
}

.ui-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.ui-content {
    margin-bottom: 1cm;
}

tr td:first-child + td label {
    -moz-border-radius-topleft: .6em;
    -webkit-border-top-left-radius: .6em;
    border-top-left-radius: .6em;
    -moz-border-radius-bottomleft: .6em;
    -webkit-border-bottom-left-radius: .6em;
    border-bottom-left-radius: .6em;
}

tr td:last-child label {
    -moz-border-radius-topright: .6em;
    -webkit-border-top-right-radius: .6em;
    border-top-right-radius: .6em;
    -moz-border-radius-bottomright: .6em;
    -webkit-border-bottom-right-radius: .6em;
    border-bottom-right-radius: .6em;
}
